numpy
pandas
scipy
matplotlib
seaborn
tqdm
progressbar2
scikit-learn
fire
torch
torchvision
iterative-stratification
git+https://github.com/neurospin-deepinsight/brainite.git
git+https://github.com/neurospin-deepinsight/mopoe.git

