Jinja2<3.1
git+https://github.com/AGrigis/pysphinxdoc.git
ipython
numpy
pandas
scipy
matplotlib
seaborn
tqdm
scikit-learn
fire
torch
torchvision
git+https://github.com/neurospin-deepinsight/brainite.git
git+https://github.com/neurospin-deepinsight/mopoe.git
sphinx==3.5.4
